# 日本語（UTF-8）を正しく扱うための設定
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
innodb_thread_concurrency = 0
innodb_read_io_threads  = 2
innodb_write_io_threads = 2
innodb_purge_threads    = 2
innodb_page_cleaners    = 1
innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0
ngram_token_size=5
max_allowed_packet=2G
max_connections = 50
skip-log-bin
disable-log-bin
performance_schema = OFF
slow_query_log = 0
general_log = 0
thread_handling = one-thread-per-connection

[mysqldump]
max_allowed_packet = 2G

[client]
default-character-set = utf8mb4
